body{
    background-image: url('../resources/background-all.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}
canvas { 
    display: block; 
    margin: 0 auto;
    margin-top: 100px;
    user-select: none;
}