html {
    
}

* { 
    padding: 0; 
    margin: 0; 
}

body {
  background-image: url('../resources/background-all.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

canvas {
    background-color: #6BCEFF; 
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

#home, #level_complete, #game_over {
	height: 520px;
	width: 924px;
	display: none;
	position: absolute;
	margin: 0 auto;
	left: 10px;
	top: 100px;
	bottom: 10px;
	right: 10px;
	justify-content: center;
	align-items: center;
}

#home.visible, #level_complete.visible, #game_over.visible {
	display: block;
}

#story_div{
	background-color: #438b3b;
	position: absolute;
	left: 60px;
	right: 60px;
	top: 50px;
}

#story_text{
	color: black;
	font-size: 25px;
	height: 280px;
	width: 800px;
}
#button_home{
	position: absolute;
	right: 10px;
	top: 10px;
}

#controls{
	position: absolute;
	bottom: 60px;
	left: 80px;
}