html {
    
}

* { 
    padding: 0; 
    margin: 0; 
}

body {
  background-image: url('../resources/background-all1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

canvas { 
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

canvas#level_1 {
    background-image: url('../resources/level_1/Background-Level1.jpg');
}

canvas#level_3 {
    background-color: #6BCEFF; 
}

canvas#level_4 {
    background: #001133;
}

#home, #level_complete, #game_over {
	height: 520px;
	width: 924px;
	display: none;
	position: absolute;
	margin: 0 auto;
	left: 10px;
	top: 100px;
	bottom: 10px;
	right: 10px;
	justify-content: center;
	align-items: center;
}

#home.visible {
	display: block;
}

#game_over.visible {
    display: block;
    background-color: #6BCEFF;
}

#level_complete.visible {
    display: block;
    background-color: #6BCEFF;
}

#story_div{
	text-align: center;
	position: absolute;
	left: 60px;
	right: 60px;
	top: 50px;
}

#win_div{
	text-align: center;
	position: absolute;
	left: 60px;
	right: 60px;
	top: 170px;
}

#story_text{
	color: black;
	font-size: 30px;
	height: 285px;
	width: 800px;
}

#story_text_4{
	color: black;
	font-size: 26px;
	height: 280px;
	width: 800px;
}

#button_home{
	position: absolute;
	right: 10px;
	top: 10px;
}

#controls{
	position: absolute;
	bottom: 60px;
	left: 80px;
}